body, h1, content, section, ul, li, canvas, html {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Michroma', sans-serif;
}

body {
  background-color: black;
}

body[class^='bgimage-'] {
  background-size: 100%;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

.bgimage-1 {
  background-image: url('../assets/bg1.gif');
}

.bgimage-2 {
  background-image: url('../assets/bg2.gif');
}

.bgimage-3 {
  background-image: url('../assets/bg3.gif');
}

.bgimage-4 {
  background-image: url('../assets/bg4.gif');
}

.bgimage-5 {
  background-image: url('../assets/bg5.gif');
}

.bgimage-6 {
  background-image: url('../assets/bg6.gif');
}

.bgimage-7 {
  background-image: url('../assets/bg7.gif');
}

ul {
  list-style: none;
}

li {
  margin: 10px;
}

h1 {
  margin: auto;
  padding: 20px;
  text-align: center;
  /* font-family: 'Rubik Mono One', sans-serif; */
  font-family: 'Michroma', sans-serif;
}

content {
  display: flex;
  flex-wrap: nowrap;
  width: 1300px;
  margin: auto;
}

#game-canvas {
  border: 1px solid white;
}

.main-creator-links {
  width: 20%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.main-creator-links ul {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  height: 100%;
}

.main-creator-links li {
  width: 100%;
  text-align: center;
}

.main-canvas {
  min-width: 800px;
  min-height: 500px;
}

.main-info {
  width: 20%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.main-info hr {
  width: 80%;
}

.main-info li {
  margin: 20px 10px;
}

.sprites {
  display: none;
}
